.com-header {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 68px;
  
  .hd-logo {
    flex-shrink: 0;
    width: 80px;
    height: 44px;
    background-image: url('../../../assets/images/header/logo.svg');
    background-repeat: no-repeat;
  }
  .hd-menus {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    gap: 62px;
    .hd-menu {
      cursor: pointer;
    }
  }
  .hd-connects {
    margin-left: auto;
    flex-shrink: 0;
    .connect-btn, button[data-testid="rk-connect-button"] {
      width: 142px;
      height: 37px;
      background: linear-gradient(to right, var(--color-ffdd86), var(--color-ff9634));
      border-radius: var(--border-radius-8);
      font-size: var(--font-size-15);
      font-family: var(--font-family-nokora);
      font-weight: var(--font-weight-regular);
      color: var(--color-232027);
    }
    button[data-testid="rk-account-button"] {
      height: 37px;
      padding: 0 12px;
      background: linear-gradient(to right, var(--color-ffdd86), var(--color-ff9634));
      border-radius: var(--border-radius-8);
      font-size: var(--font-size-15);
      font-family: var(--font-family-nokora);
      font-weight: var(--font-weight-regular);
      color: var(--color-232027);
      >div {
        background: unset !important;
        border: unset !important;
      }
    }
  }
}
/* 媒体查询 */
@media screen and (min-width: 1280px) {
  .com-header {
    width: 1274px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 1000px) {
  .com-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .hd-menus {
      flex-wrap: wrap;
      gap: 20px;
    }
    .hd-connects {
      margin-left: unset;
    }
  }
}