.page-earn {
  display: flex;
  flex-direction: column;
  height: 100%;
  .son-panel {
    &.earn {
      margin: 30px 120px 20px 120px;
      &.common-width {
        // max-width: 1200px;
        // width: 100%;
        // margin: 30px auto 20px auto;
      }
    }
  }
  .body-earn {
    background: rgba(66, 65, 68, 1);
    flex: 1;
    .table-panel {
      background: var(--color-555357);
      border-radius: var(--border-radius-10);
      margin: 27px 120px 54px 120px;
      display: flex;
      flex-direction: row;
      padding: 30px 46px;
      justify-content: flex-start;
      gap: 28px;
      .earn-unclaimed {
        min-width: 630px;
        width: 57%;
      }
      .earn-epoch {
        // max-width: calc(100% - 630px - 28px);
        width: calc(100% - 57% - 28px);
      }
    }
  }
}
/* 媒体查询 */
@media screen and (min-width: 1280px) {
  .page-earn {
    .son-panel {
      &.earn {
        width: 1200px;
        margin: 30px auto 20px auto;
      }
    }
    .body-earn {
      .table-panel {
        width: 1200px;
        margin: 27px auto 54px auto;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .page-earn {
    .body-earn {
      .table-panel {
        flex-direction: column;
        .table-panel-item {
          width: 100%;
          &.earn-unclaimed {
            width: 100%;
          }
          &.epoch-history {
            width: 100%;
            max-width: 100% !important;
          }
        }
      }
    }
  }
}