@import 'variables.scss';
div {
  box-sizing: border-box;
}
html,body {
  margin: 0;
  width: 100%;
  height: auto;
  touch-action: pan-x pan-y;
  /* 禁止双指缩放 */
  -webkit-user-drag: none;
  /* 禁止双指拖曳 */
  min-width: 375px;
}
/* 清除 input 元素的默认样式 */
input {
  border: none;            /* 去除边框 */
  outline: none;            /* 去除聚焦时的轮廓线 */
  background-color: transparent; /* 去除背景色 */
  padding: 0;               /* 去除内边距 */
  margin: 0;                /* 去除外边距 */
  -webkit-appearance: none; /* 去除 iOS 上的默认样式 */
  -moz-appearance: none;    /* 去除 Firefox 上的默认样式 */
  appearance: none;         /* 去除其他浏览器上的默认样式 */
  box-sizing: border-box;   /* 确保元素的总宽度和高度包括内边距和边框 */
  font-size: inherit;       /* 继承父元素的字体大小 */
}

#root {
  background: rgba(35, 32, 39, 1);
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  height: auto;
}
.app-layout {
  // height: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header-box {
  background: rgba(0, 0, 0, 0.1);
  // padding: 4px 79px;
  padding: 4px 0;
}
.body-box {
  // background: rgba(66, 65, 68, 1);
  flex: 1;
  display: flex;
  flex-direction: column;
}
.son-panel {
  background: rgba(0, 0, 0, 0.1);
  h1 {
    font-family: var(--font-family-nokora);
    font-size: var(--font-size-40);
    font-weight: var(--font-weight-bold);
    color: var(--color-ffffff);
    height: var(--line-height-53);
  }
  .son-notice {
    font-family: var(--font-family-nokora);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-regular);
    height: var(--line-height-21);
    color: var(--color-ffffff_50);
  }
  .son-group {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--color-424144);
    border-radius: var(--border-radius-8);
    padding: 15px 0;
    .son-group-li {
      text-align: center;
      h2 {
        font-family: var(--font-family-nokora);
        font-size: var(--font-size-14);
        font-weight: var(--font-weight-bold);
        color: var(--color-ffbf6e);
        height: var(--line-height-19);
      }
      p {
        font-family: var(--font-family-nokora);
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-regular);
        color: var(--color-ffffff);
        height: var(--line-height-21);
        padding-top: 3px;
      }
    }
  }
}
.com-panel {
  position: relative;
  h2 {
    font-family: var(--font-family-nokora);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-26);
    color: var(--color-ffffff);
    line-height: var(--line-height-12);
  }
  .defalut-mask {
    width: 100%;
    height: 76px;
    position: absolute;
    bottom: -1px;
    background-image: linear-gradient(to bottom, var(--color-555357_0), var(--color-555357));
  }
  .list-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: 20px;
    margin-top: 24px;
    height: 577px;
    overflow-y: auto;
    .list-tr {
      display: flex;
      box-sizing: border-box;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      .width-td1 {
        width: 80%;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        &.styles2 {
          width: 45%;
        }
        &.styles2-son {
          width: 50%;
        }
        .tag-sort {
          margin-left: 18px;
        }
        .title {
          font-family: var(--font-family-nokora);
          font-size: var(--font-size-18);
          font-weight: var(--font-weight-bold);
          height: var(--line-height-24);
          color: var(--color-ffffff_50);
        }
        .td-logo {
          line-height: var(--line-height-21);
        }
        .name {
          margin-left: 6px;
        }
      }
      .width-td2 {
        width: 20%;
        &.styles2-son {
          width: 33%;
        }
      }
      .width-all {
        display: flex;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
      .width-left {
        display: flex;
        box-sizing: border-box;
        justify-content: space-between;
        width: 55%;
      }
      .width-right {
        margin-left: auto;
        &.styles2 {
          flex-shrink: 0;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 10px;
        }
        .icon-arrow {
          display: block;
          width: 9px;
          height: 6px;
          background: url('../../assets/images/arrow.svg') no-repeat;
          cursor: pointer;
          &.isOpen {
            transform: rotate(0deg);
          }
          &.isClose {
            transform: rotate(180deg);
          }
        }
      }
      &.thead {
        background: var(--color-424144);
        border-bottom: 1px solid var(--color-424144);
        border-radius: var(--border-radius-10) var(--border-radius-10) 0 0;
        padding: 7px 43px 7px 31px;
        cursor: pointer;
      }
    }
    .list-table {
      background: var(--color-6b696d);
      border: 1px solid var(--color-88868A);
      border-radius: var(--border-radius-10);
      &.isOpen-true {
        .list-detail {
          display: flex;
        }
      }
      &.isOpen-false {
        .list-detail {
          display: none;
        }
        .list-tr {
          &.thead {
            border-radius: var(--border-radius-8)
          }
          .width-right {
            .icon-arrow {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
    .list-detail {
      display: flex;
      box-sizing: border-box;
      align-items: center;
      padding: 14px 43px 16px 31px;
      width: 100%;
    }
    .list-box {
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 55%;
      gap: 10px;
    }
    .list-box-column {
      display: flex;
      box-sizing: border-box;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      .line {
        width: 2px;
        height: 30px;
        background: var(--color-424144);
      }
      .width-td4 {
        width: calc((100% - 4px) / 3);
        text-align: center;
        &.left {
          text-align: left;
        }
      }
      .info {
        font-family: var(--font-family-nokora);
        font-size: var(--font-size-20);
        font-weight: var(--font-weight-regular);
        height: var(--line-height-26);
        color: var(--color-ffffff);
      }
      .label {
        font-family: var(--font-family-nokora);
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-regular);
        height: var(--line-height-21);
        color: var(--color-ffffff_50);
      }
    }
    .box-right {
      margin-left: auto;
    }
  }
}

.com-staking-item-box {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  &.table-line {
    width: 100% !important;
  }
  .logo-name {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    .name {
      font-family: var(--font-family-nokora);
      font-size: var(--font-size-20);
      font-weight: var(--font-weight-bold);
      height: var(--line-height-26);
      color: var(--color-ffffff);
    }
  }
  .label-value {
    width: 30%;
    .value {
      font-family: var(--font-family-nokora);
      font-size: var(--font-size-18);
      font-weight: var(--font-weight-bold);
      height: var(--line-height-24);
      color: var(--color-ffffff);
      &.orange-text {
        color: var(--color-ffbf6e);
      }
      .icon-time {
        display: inline-block;
        vertical-align: middle;
        width: 15px;
        height: 15px;
        background: url('../../assets/images/icon-time.svg');
        background-repeat: no-repeat;
        margin-right: 6px;
      }
      .text-time {
        display: inline-block;
        vertical-align: middle;
      }
    }
    .label {
      font-family: var(--font-family-nokora);
      font-size: var(--font-size-14);
      font-weight: var(--font-weight-regular);
      height: var(--line-height-19);
      color: var(--color-ffffff);
      margin-top: 2px;
    }
  }
}
// .footer-box {}

/* 媒体查询 */
@media screen and (min-width: 1280px) {
  .com-staking-item-box {
    width: 427px;
    &:last-child {
      width: 321px;
    }
    .label-value {
      width: unset;
    }
  }
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 1000px) {
  .app-layout {
    height: auto;
  }
  .com-panel {
    h2 {
      line-height: var(--line-height-24);
    }
  }
  .son-panel {
    .son-group {
      flex-direction: column;
      gap: 10px;
    }
  }
  .com-panel {
    .list-container {
      .list-tr {
        flex-direction: column;
        gap: 10px;
        .width-td1 {
          width: 70%;
        }
        .width-td2 {
          width: 30%;
        }
        .width-left {
          width: 100%;
          flex-direction: column;
          .width-td1, .width-td2 {
            width: 100%;
          }
        }
        .width-right {
          margin-left: unset;
          &.styles2 {
            width: 100%;
          }
        }
      }
      .list-box {
        width: 100%;
      }
      .list-detail {
        flex-direction: column;
        gap: 20px;
        .box-right {
          margin-left: unset;
          width: 100%;
          button {
            width: 100%;
          }
        }
      }
      .list-box-column {
        flex-direction: column;
        gap: 10px;
        .line {
          display: none;
        }
        .width-td4 {
          width: 100%;
          &.left,&.center,&.right {
            text-align: left;
          }
        }
      }
    }
  }
  .com-staking-item-box {
    flex-direction: column;
    gap: 10px;
    .logo-name, .label-value, .harvest-btn {
      width: 100%;
      button {
        width: 100%;
      }
    }
  }
}